@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

:root {
    --blue: rgb(27, 126, 255);
    --white: rgb(224, 224, 223);
    --purp: rgb(193, 0, 241);
    --black: rgba(20, 20, 29, 0.959);
}
.App {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family:'Roboto',sans-serif;
}

/*____NAV BAR____*/
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    padding: 8px;
    background-color: rgba(4, 23, 39, 0.959);
}

.logo{
    font-family: 'Quicksand', sans-serif;
    width: 1vw;
    transition: 500ms;
}
.logo:visited, .logo:link {
    text-decoration: none;
    color: white;
}

.logo:hover {
    font-size: 1.25vw;
    transition: 500ms;
}

.nav-buttons{
    padding: 10px;
    margin: 10px;
    
}
.btn-light{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid white;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    background-color: inherit;
    text-align:center;
    transition: all 0.2s;
}
.btn-dark{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid var(--black);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: var(--black);
    background-color: var(--white);
    text-align:center;
    transition: all 0.2s;
}

.btn-light:hover{
    color: var(--purp);
    background-color: var(--white)
}
.btn-dark:hover{
    color: var(--purp);
    background-color: var(--white)
}
/* ____NEW ACCOUNT____ */

/* _____DASHBOARD_____ */
.dashboard-sidebar-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 15%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 110px;
    background-color: rgb(232, 243, 252);
}

.dashboard-container{
    display: flex;
    flex: row;
    margin: 90px;
}

.dashboard-messages-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 80vh;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    margin-top: 110px;
    background-color: rgb(232, 243, 252);
}

.dashboard-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.profile-header{
    text-align: center;
    margin: 0 115px;
}

.profile-details{
    margin: 0 65px;
}

.login-container{
    display: flex;
    width: 25vw;
    height: 50vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* background-color: var(--black); */
}
/* 
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    
} */
.login-form {
    background-color: rgb(237, 237, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 350px;
    width: 300px;
    margin-top: 100px;
    border: 1px solid black;
}
.new-profile-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 50vw;
    margin-top: 100px;
    border: 1px solid black;
}

.form-input {
    margin: 10px;
}

.new-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* _____HOME _____ */
.home-main-container{
    display:flex;
    flex-direction: row;
    padding-top: 15vh;
    align-items: center;
    width: 75vw;
}

.home-title-about{
    width: 50vw;
}

.home-title-img {
    width: 30vw;
    border-radius: 300px;
}

.footer-container {
    font-family: 'Kanit', sans-serif;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: var(--white);
    text-align: center;
    background-color: var(--black);
}
.footer-link {
    color: var(--white);
    margin: 10px;
    font-size: 5vh;
}

.dash-crew-container{ 
    border: 1px solid grey;
}

.dash-crew-img {
    width: 4vw;
}

.message-box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.message-box-message {
text-align: left;
border: 1px solid black;
background-color: rgb(165, 238, 232);
border-radius: 10px;;
padding: 5px;
}

.white {
    color: var(--white);
}